@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Quicksand:wght@400;500&display=swap');
/* 
    FONT FAMILY RESET
*/
*{
    font-family: 'Quicksand', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'League Gothic', sans-serif;
}

/* 
    FONT FAMILY RESET
*/

/* 
CLASS BASED CUSTOMIZATION
*/
.form-control:focus {
    color: rgb(33 37 41 );
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(33 37 41 / 50%);
}

.fullHeight{
    height: 80vh;
}
/* 
CLASS BASED CUSTOMIZATION
*/